#lunderground-controller-menu {
  display: inline-block;
  background-color: var(--colour-4th);
  color: var(--colour-1st);
  margin: 7em auto 0;
}

#lunderground-controller-menu menu {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
}

#lunderground-controller-menu li a {
  display: block;
  padding: 1em;
  color: var(--colour-1st);
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
}

#lunderground-controller-menu li a:hover {
  color: var(--colour-4th);
  background-color: var(--colour-1st);
}
